<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SeekbarTester.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>24726FF601DA0D996424A8795322D444EC186535</string>
				<key>dateExpires</key>
				<string>2019/10/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W858HZ6HZ4.com.lainiwakura.SeekbarTester</string>
				<key>com.apple.developer.team-identifier</key>
				<string>W858HZ6HZ4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>W858HZ6HZ4.com.lainiwakura.SeekbarTester</string>
				</array>
			</dict>
			<key>name</key>
			<string>SeekbarTester.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>37e6d5d4-0b9d-420c-b0d4-c79e43b20ed8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W858HZ6HZ4</string>
				<key>name</key>
				<string>Chaoran Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
